'./*':
  - prettier --write --ignore-unknown

'apps/blog/**':
  - prettier --write --ignore-unknown
  - pnpm --dir apps/blog exec eslint --no-warn-ignored

'apps/home/**':
  - prettier --write --ignore-unknown
  - pnpm --dir apps/home exec eslint --no-warn-ignored

'apps/studio-blog/**':
  - prettier --write --ignore-unknown
  - pnpm --dir apps/studio-blog exec eslint --no-warn-ignored

'packages/hooks/**':
  - prettier --write --ignore-unknown
  - pnpm --dir packages/hooks exec eslint --no-warn-ignored

'packages/sanity-blog/**':
  - prettier --write --ignore-unknown
  - pnpm --dir packages/sanity-blog exec eslint --no-warn-ignored

'packages/search-blog/**':
  - prettier --write --ignore-unknown
  - pnpm --dir packages/search-blog exec eslint --no-warn-ignored

'packages/search-core/**':
  - prettier --write --ignore-unknown
  - pnpm --dir packages/search-core exec eslint --no-warn-ignored
